<nav class="navbar navbar-expand-lg navbar-dark banner-bg fixed-top">
  <div class="container">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-column" id="navbarMain">
        <div class="navbar-nav me-auto">
          <h4 class="navbar-text navbar-title-main pb-0">EECS 582: Advanced Operating Systems</h4>
          <h5 class="navbar-text navbar-title-sub ps-4 pb-0">Fall 2023</h5>
        </div>
        <ul class="navbar-nav me-auto">
          {% for item in site.navigation %}
          {%- if page.url contains item.url -%}
          {%- assign link_class = 'active' -%}
          {%- elsif page.url == '/' and item.url == '/index.html' -%}
          {%- assign link_class = 'active' -%}
          {%- else -%}
          {%- assign link_class = nil -%}
          {%- endif -%}
          {%- if item.url contains 'http://' or item.url contains 'https://' -%}
          {%- assign aurl = item.url -%}
          {%- else -%}
          {%- assign aurl = item.url | relative_url -%}
          {%- endif -%}
          {%- if item.dropdown -%}
          <li class="nav-item dropdown">
            <a href="{{ aurl }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title }} <span class="caret"></span></a>
            <div class="dropdown-menu">
              {%- for dp in item.dropdown %}
              {% if dp.title -%}
              <a href="{{ dp.url | relative_url }}">{{ dp.title }}</a>
              {%- else -%}
              <div class="dropdown-divider"></div>
              {%- endif -%}
              {%- endfor %}
            </div>
          {%- else -%}
          <li class="nav-item">
            <a class="nav-link {{ link_class }}" href="{{ aurl }}">{{ item.title }}</a>
          {%- endif %}
          </li>
          {%- endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>
